body {
    background-color: #fff9f2;
}
.main {
    width: 900px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}

.nav-bar {
    width: inherit;
    height: 50px;

    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 130px;

    transition-property: box-shadow, border;
    -webkit-transition-property: box-shadow, border;
    -moz-transition-property: box-shadow, border;
    -o-transition-property: box-shadow, border;

    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;

    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 1, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 1, 1);

}

.nav-bar a {
    width: 299px;
    height: 49px;
    border-right: 3px solid #c4c4c4;
    float: left;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    font-variant: small-caps;
    font-weight: 700;
    line-height: 49px;
    text-decoration: none;


    transition-property: border-right, color;
    -webkit-transition-property: border-right, color;
    -moz-transition-property: border-right, color;
    -o-transition-property: border-right, color;

    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;

    transition-timing-function: cubic-bezier(0, 0, -0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 0, -0.5, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, -0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, -0.5, 1);
}

.nav-bar a span {
    margin: auto;
}

.content {
    width: inherit;
    min-height: 700px;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    position: absolute;
    top: 200px;
    margin-bottom: 40px;
    padding: 5px;


    transition-property: box-shadow, border;
    -webkit-transition-property: box-shadow, border;
    -moz-transition-property: box-shadow, border;
    -o-transition-property: box-shadow, border;

    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;

    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 1, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 1, 1);


}